<%= form_with(model: [@quiz, @question]) do |form| %>
<%= form.hidden_field :quiz_id, value: @quiz.id%>
  <p>
  <div>
    <%= form.label :Question %><br>
    <%= form.text_field :body %>
  </div>
  <%= form.fields_for :options, @options do |option_form| %>
    <p>
    <%= option_form.label :choice %><br>
    <%= option_form.text_field :choice %>
    <%= option_form.label :correct_option %>
    <%= radio_button_tag "question[options_attributes][is_correct_answer]", option_form.index, option_form.object.is_correct_answer %>
    </p>
  <% end %>
  <%= form.submit %>
  </p>
<% end %>  
  
  
