
  <section class="vh-100 gradient-custom">
  <h1><div class="fs-3 pt-xl-5 pl-xl-2 fst-italic">Add question</div></h1>
    <div class="row">
      <div class="col">
        <div class="card shadow-2-strong card-registration" style="border-radius: 20px;">
          <div class="card-body">
            <%= form_with(model: [@quiz, @question]) do |form| %>
            <%= form.hidden_field :quiz_id, value: @quiz.id%>
            <p>
            <div class="form-outline mb-4">
              <b><%= form.label :Question %></b>
              <%= form.text_field :body, :class => "form-control form-control-lg"%>
            </div>
            <%= form.fields_for :options, @options do |option_form| %>
            <div class="form-outline mb-4">
            <b><%= option_form.label :choice %></b>
            <%= option_form.text_field :choice, :class => "form-control form-control-lg" %>
            <%= radio_button_tag "question[options_attributes][is_correct_answer]", option_form.index, option_form.object.is_correct_answer %>
            <b><%= option_form.label :correct_option %></b>
            </div>
            
            <% end %>
            <%= form.submit "Create question", class: "btn btn-secondary" %>
            </p>
            <% end %>  
          </div>
        </div>
      </div>
    </div> 
  </section>
  
  
