<%= form_with(model: [@quiz, @question]) do |form| %>
<%= form.hidden_field :quiz_id, value: @quiz.id%>
  <p>
  <div>
    <%= form.label :Question %><br>
    <%= form.text_field :body %>
  </div>
        <%= form.fields_for :options, @options do |option_form| %>
            <p>
            <%= option_form.label :option %><br>
            <%= option_form.text_field :option1 %>
            <%= option_form.label :correct_option %>
            <%= radio_button_tag "question[options_attributes][correct_key]", option_form.index, option_form.object.correct_key %>
            </p>
        <% end %>
    <%= form.submit %>
  </p>
<% end %>  
  
  
  

<%#= radio_button_tag "question[options_attributes][#{option_form.index}][correct]", true, option_form.object.correct %>
