
<h1>Edit Question</h1>

<%#= render 'form' %>
<%= form_with(model: [@quiz, @question]) do |form| %>
<%= form.hidden_field :quiz_id, value: @quiz.id%>
  <p>
    <%= form.label :Question %><br>
    <%= form.text_field :body %>
    <%= form.submit %>
  </p>
<% end %> 
