<div class="nav flex-column nav-pills text-center fw-bold text-uppercase fst-italic"  aria-orientation="vertical">
  <%= link_to root_path, class: "nav-link mb-2 border border-primary shadow", role: "tab" do %>
    <span>All categories</p></span>
  <% end %>
  <% @categories.each do |category| %>
    <% if params[:category_name] == category.title %>
      <%= link_to quizzes_path(category_name: category.title), class: "nav-link mb-2 border border-primary shadow active", role: "tab" do %>
        <span><%= category.title %></p></span>
      <% end %>
    <% else %>
      <%= link_to quizzes_path(category_name: category.title), class: "nav-link mb-2 border border-primary shadow", role: "tab" do %>
        <span><%= category.title %></p></span>
      <% end %>
    <% end %>
    <% if current_user.is_admin? %>
    <ul>
      <%= link_to "✏", edit_category_path(category), class: "btn btn-outline-light" %>
      <%= link_to "❎", category_path(category), class: "btn btn-outline-light",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </ul>
    <% end %>
  <% end %>
</div>
