<%= form_with model: @quiz do |form| %>
  <div>
    <p>
    <%= collection_select(:quiz, :category_id, Category.all, :id, :title) %>
    </p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @quiz.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
