<section class="vh-100 gradient-custom">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-0 col-xl-5">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <%= form_with model: @quiz do |form| %>
              <div>
                <%= collection_select(:quiz, :category_id, Category.all, :id, :title) %>
                <div class="form-outline mb-4">
                  <%= form.label :title %><br>
                  <%= form.text_field :title %>
                </div>
                <% @quiz.errors.full_messages_for(:title).each do |message| %>
                  <div><%= message %></div>
                <% end %>
              </div>
              <div>
                <%= form.submit %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
