
<div class="text-center">
  <div class="fs-1"><%="Title: "%><%= @quiz.title %>
  <% if current_user.is_admin? %>
    <%= link_to "✏", edit_quiz_path(@quiz), class: "btn btn-outline-warning" %>
    <%= link_to "❎", quiz_path(@quiz), class: "btn btn-outline-secondary",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>
  <%= link_to 'Back', quizzes_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
<div class="error">
<%= flash[:error] %>
</div>
<% if current_user.is_admin? %>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-4">
          <%= render 'questions/form' %>
        </div>
        <% if @quiz.questions.count != 0 %>
          <div class="col-md-8 col-lg-2 b-4 col-xl-5 offset-xl-1">
            <div class="align-items-center justify-content-center justify-content-lg-start">
              <p class="fs-3"><strong>Added questions</strong></p>
            </div>
            <%= render @quiz.questions %> 
          </div>
        <% end %>
      </div>
    </div>
    
<% else %>
  <% if @quiz.questions.count != 0 %>
    <%#= render partial: "user_quizzes/user_quiz_page", :locals => {quiz_questions: @quiz.questions} %> 
    <p class = "text-center"><%= link_to "Start Quiz", user_quiz_path, class: "btn btn-primary"%></p>
  <% else %>
    <%= 'Questions yet to be added' %>
  <% end %>
  </section>
<% end %>


          