
<div class="text-center">
  <div class="fs-1 fst-italic"><%="Title "%><%= @quiz.title %>
  <% if current_user.is_admin? %>
    <%= link_to "✏", edit_quiz_path(@quiz), class: "btn btn-outline-light" %>
    <%= link_to "❎", quiz_path(@quiz), class: "btn btn-outline-light",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>
  <%= link_to 'Back', quizzes_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
<div class="error">
<%= flash[:error] %>
</div>
<% if current_user.is_admin? %>
  <section class="vh-100">
    <div class="container">
      <div class="row">
        <div class="col">
          <%= render 'questions/form' %>
        </div>
        <% if @quiz.questions.count != 0 %>
          <div class="col">
            <div class="align-items-center justify-content-center justify-content-lg-start">
              <h1><div class="fs-3 pt-xl-5 pl-xl-2 fst-italic">Added questions</div></h1>
            </div>
            <div class = "question_table">
            <table class="table table-borderless table-condensed">
  
            <tr>
              <th class="text-center">Question</th>
              <th class="text-center">Actions</th>
            </tr>
            
            <tbody>
              <%= render @quiz.questions %> 
            </tbody>
          </div>
        <% end %>
      </div>
    </div>
    
<% else %>
  <% if @quiz.questions.count != 0 %>
    <%#= render partial: "user_quizzes/user_quiz_page", :locals => {quiz_questions: @quiz.questions} %> 
    <div class="info_box">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Rules of the quiz</h4>
            <div class="info">1. Try to finish the quiz within time limit</div>
            <div class="info">2. Quiz will get submitted once time goes off.</div>
            <div class="info">3. You'll get points on the basis of your correct answers.</div>
        </div>
        </div>
    </div>
    <p class = "text-center"><%= link_to "Start Quiz", user_quiz_path, data: { turbolinks: false }, class: "btn btn-primary"%></p>
  <% else %>
    <%= 'Questions yet to be added' %>
  <% end %>
  </section>
<% end %>


          