
<h1><%= @quiz.title %></h1>
<div class="error">
<%= flash[:error] %>
</div>
<% if current_user.is_admin? %>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <h2>Add question</h2>
          <%= render 'questions/form' %>
        </div>
        <% if @quiz.questions.count != 0 %>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <h2>Added questions</h2>
            </div>
            <%= render @quiz.questions %> 
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'Back', quizzes_path, class: "btn btn-xs btn-success" %>
    <ul>
      <li><%= link_to "Edit quiz title", edit_quiz_path(@quiz) %></li>
      <li><%= link_to "Destroy quiz", quiz_path(@quiz),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
    </ul>
<% else %>
  <% if @quiz.questions.count != 0 %>
    <%= render partial: "user_quizzes/user_quiz_page", :locals => {quiz_questions: @quiz.questions} %>    
  <% else %>
    <%= 'Questions yet to be added' %>
  <% end %>
  </section>
<% end %>


          