

<section class="vh-100 gradient-custom">
  <div class="container h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-2 col-xl-5">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <%= form_with(model: [@quiz, @question, @option], local: true) do |form| %> 
              <%= form.hidden_field :question_id, value: @question.id %>
              <p class="form-outline mb-4 fs-4">
                <h4><%= form.label :choice %><br></h4>
                <%= form.text_field :choice, :class => "form-control form-control-lg"  %>
              </p>
              <div class = "error">
                <% @option.errors.full_messages_for(:choice).each do |message| %>
                  <div><%= message %></div>
                <% end %>
              </div>
              <p class="form-outline mb-4 fs-4">
                <h5><%= form.label :correct_option %>
                <%= form.radio_button :is_correct_answer, checked: true%></h5>
              </p>
              <div>
                <%= form.submit "Save Option", class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
          <p class="text-center">
            <%= link_to 'Back', :back, class: "btn btn-xs btn-info" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section> 
