<div style = "margin: 0;padding: 60px">
  <div class = "quiz">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3">
        <%= form_with url: answer_create_answers_path, method: :post do |form| %>
        <%= form.hidden_field :quiz_id, value: quiz_questions.first.quiz_id%>
        <ol>
        <% quiz_questions.each do |question| %>
        <% if question.body.present? %>
          <b><li><%= question.body %></li></b>
          <% question.options.each do |option| %>
            <ul>
            <%= form.radio_button("answers[#{question.id}]", option.option) %>
            <%= label_tag "#{option.option}", option.option %>
            </ul>
          <% end %>
          <% end %>
        <% end %>
        </ol>
        <div class="col-md-12 text-center">
          <%= form.submit "Submit", class: "btn btn-outline-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

