
<h1>My Quizzes</h1>
<%= form_tag answer_myquiz_path, :method => "get" do %>
<%= label_tag(:search, "Search by quiz" )%>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("Search", :quiz_name => nil)%>
<% end %>
<table class="table table-striped table-bordered table-condensed">
<thead class="thead-dark">
<tr>
  <th colspan="1">Name</th>
  <th colspan="1">Quiz</th>
  <th colspan="1">score</th>
</tr>
</thead>
<tbody>
    <% @user_quizzes.each do |user_quiz| %>
      <tr>
        <td><%= user_quiz.name %></td>
        <td><%= user_quiz.quiz_name %></td> 
        <td><%= user_quiz.score %></td>         
      </tr>
    <% end %>
  </tbody>
</table>